body{
  margin: 0;
  padding:0;
  font-family: Helvetica;
  color: white;
}

.rocketlaunch{

}
.rocket{
  position: fixed;
  animation: launch 3s infinite;
  width: 20%;
  left:10%
}

.rocket2{
  position: fixed;
  animation: launch 5s infinite;
  width: 20%;
  left:30%;
}
.rocket3{
  position: fixed;
  animation: launch 4s infinite;
  width: 20%;
  right:15%;
}
@keyframes launch {
  from{bottom: -100px;}
  to{bottom:1000px;}
}
#CET, #MARS, #JUPITER{
  font-size: 70px;
  margin:0px;
  font-weight: bold;
}

#season, #season2, #season3{
  width: 25%;
  margin: auto auto;
}

#daytoday, #daytodaymars, #daytodayjupiter{
  font-size: 20px;
}

#blok, #blok2, #blok3{
  min-width: 80%;
  margin:1%;
  padding:2%;
  flex-direction: column;
}

.timezonename{
  font-size: 25px;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-weight: bold;
}

section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap:wrap;
  margin: auto auto;
  width: 90%;
}

  div {
      display: flex;
      text-align: center;
      justify-content: space-around;
}

.logo{
  width: 100%;
  justify-content: space-around;
  text-align: center;
  margin: auto auto;
  padding:1%;
  display: block;

}

@media only screen and (min-width:740px){

  .rocket{
    position: fixed;
    animation: launch 3s infinite;
    width: 10%;
    left:15%
  }

  .rocket2{
    position: fixed;
    animation: launch 5s infinite;
    width: 10%;
    left:45%;
  }
  .rocket3{
    position: fixed;
    animation: launch 4s infinite;
    width: 10%;
    right:5%;
  }

  #CET, #MARS, #JUPITER{
    font-size: 70px;
    margin:0px;
    font-weight: bold;
  }

  #season, #season2, #season3{
    width: 30%;
    margin: auto auto;
  }

  #daytoday, #daytodaymars, #daytodayjupiter{
    font-size: 20px;
  }

  #blok, #blok2, #blok3{
    min-width: 30%;
    margin:1%;
    padding:2%;
    flex-direction: column;
  }

  .timezonename{
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-weight: bold;
  }

  section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    margin: auto auto;
    width: 90%;
  }

    div {
        display: flex;
        text-align: center;
        justify-content: space-around;
  }

  .logo{
    width: 50%;
    justify-content: space-around;
    text-align: center;
    margin: auto auto;
    padding:1%;
    display: block;
  }

@media only screen and (min-width:1024px){

  .rocket{
    position: fixed;
    animation: launch 3s infinite;
    width: 7%;
    left:15%
  }

  .rocket2{
    position: fixed;
    animation: launch 5s infinite;
    width: 7%;
    left:45%;
  }
  .rocket3{
    position: fixed;
    animation: launch 4s infinite;
    width: 7%;
    right:5%;
  }

  #CET, #MARS, #JUPITER{
    font-size: 70px;
    margin:0px;
    font-weight: bold;
  }

  #season, #season2, #season3{
    width: 20%;
    margin: auto auto;
  }

  #daytoday, #daytodaymars, #daytodayjupiter{
    font-size: 20px;
  }

  #blok, #blok2, #blok3{
    min-width: 30%;
    margin:1%;
    padding:2%;
    flex-direction: column;
  }

  .timezonename{
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-weight: bold;
  }

  section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    margin: auto auto;
    width: 90%;
  }

    div {
        display: flex;
        text-align: center;
        justify-content: space-around;
  }

  .logo{
    width: 60%;
    justify-content: space-around;
    text-align: center;
    margin: auto auto;
    padding:1%;
    display: block;
  }

@media only screen and (min-width:1300px){

  #CET, #MARS, #JUPITER{
    font-size: 70px;
    margin:0px;
    font-weight: bold;
  }

  #season, #season2, #season3{
    width: 25%;
    margin: auto auto;
  }

  #daytoday, #daytodaymars, #daytodayjupiter{
    font-size: 20px;
  }

  #blok, #blok2, #blok3{
    min-width: 25%;
    margin:1%;
    padding:2%;
    flex-direction: column;
  }

  .timezonename{
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-weight: bold;
  }

  section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    margin: auto auto;
    width: 90%;
  }

    div {
        display: flex;
        text-align: center;
        justify-content: space-around;
  }

  .logo{
    width: 30%;
    justify-content: space-around;
    text-align: center;
    margin: auto auto;
    padding:1%;
    display: block;
  }



}
